@switch (stepperOrientation | async) {
    @case ('horizontal') {
      <div>Make your screen smaller to see a vertical stepper</div>
    }
    @case ('vertical') {
      <div>Make your screen larger to see a horizontal stepper</div>
    }
  }
  
  <mat-stepper [orientation]="(stepperOrientation | async)!">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <div class="row">
            <mat-form-field appearance="outline" class="col-sm-3">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-sm-3">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" required>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-sm-3">
                  <mat-label>Contact</mat-label>
                  <input matInput formControlName="contact" required>
              </mat-form-field>
              
              <mat-form-field appearance="outline" class="col-sm-3">
                  <mat-label>Country</mat-label>
                  <input matInput formControlName="country" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperNext>Next</button>
              </div>
        </div>

        <div class="row">
            <mat-form-field appearance="outline" class="col-sm-3">
                <mat-label>University</mat-label>
                <input matInput formControlName="university" required>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-sm-3">
                  <mat-label>Course</mat-label>
                  <input matInput formControlName="course" required>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-sm-3">
                  <mat-label>Class</mat-label>
                  <input matInput formControlName="class" required>
              </mat-form-field>
              
              <mat-form-field appearance="outline" class="col-sm-3">
                  <mat-label>Graduation Year</mat-label>
                  <input matInput formControlName="year" required>
              </mat-form-field>
              
        </div>
        <div class="d-flex justify-content-center">
            <button mat-raised-button color="primary"  matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <div class="row">
            <mat-form-field appearance="outline" class="col-sm-3">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-sm-3">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" required>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-sm-3">
                  <mat-label>Contact</mat-label>
                  <input matInput formControlName="contact" required>
              </mat-form-field>
              
              <mat-form-field appearance="outline" class="col-sm-3">
                  <mat-label>Country</mat-label>
                  <input matInput formControlName="country" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperNext>Next</button>
              </div>
        </div>

        <div class="row">
            <mat-form-field appearance="outline" class="col-sm-3">
                <mat-label>University</mat-label>
                <input matInput formControlName="university" required>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-sm-3">
                  <mat-label>Course</mat-label>
                  <input matInput formControlName="course" required>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-sm-3">
                  <mat-label>Class</mat-label>
                  <input matInput formControlName="class" required>
              </mat-form-field>
              
              <mat-form-field appearance="outline" class="col-sm-3">
                  <mat-label>Graduation Year</mat-label>
                  <input matInput formControlName="year" required>
              </mat-form-field>
              
        </div>
        <div class="d-flex justify-content-center">
            <button mat-raised-button color="accent " matStepperPrevious>Back</button>
            <button mat-raised-button color="primary mx-1"  matStepperNext>Next</button>
        </div>
       
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <div class="row">
            <mat-form-field appearance="outline" class="col-sm-3">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-sm-3">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" required>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-sm-3">
                  <mat-label>Contact</mat-label>
                  <input matInput formControlName="contact" required>
              </mat-form-field>
              
              <mat-form-field appearance="outline" class="col-sm-3">
                  <mat-label>Country</mat-label>
                  <input matInput formControlName="country" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperNext>Next</button>
              </div>
        </div>

        <div class="row">
            <mat-form-field appearance="outline" class="col-sm-3">
                <mat-label>University</mat-label>
                <input matInput formControlName="university" required>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-sm-3">
                  <mat-label>Course</mat-label>
                  <input matInput formControlName="course" required>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-sm-3">
                  <mat-label>Class</mat-label>
                  <input matInput formControlName="class" required>
              </mat-form-field>
              
              <mat-form-field appearance="outline" class="col-sm-3">
                  <mat-label>Graduation Year</mat-label>
                  <input matInput formControlName="year" required>
              </mat-form-field>
              
        </div>
        <div class="d-flex justify-content-center">
            <button mat-raised-button color="accent " matStepperPrevious>Back</button>
            <button mat-raised-button color="primary mx-1"  matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <h4 class="text-center">You are now done ?</h4>
      <div class="d-flex justify-content-center">
        <button mat-raised-button color="accent" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary mx-1">Submit</button>
      </div>
    </mat-step>
  </mat-stepper>
  